[Unit]
Description=Check Battery Level

[Install]
WantedBy=default.target

[Service]
Environment="PATH=/home/nico/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/nico/.scripts/xctl check-battery 20

