[Unit]
Description=RA Multiplex Server
After=network.target

[Service]
Environment="PATH=/home/nico/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/nico/.cargo/bin/ra-multiplex server
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ra-multiplex

[Install]
WantedBy=multi-user.target

