[alias]
  co = checkout
  s = status -s
  ss = status
  a = add -p
  cm = commit -m
  ca = commit --amend
  cl = clone --recursive
  f = fetch --all
  l = log --decorate --graph --all --oneline
  ll = log --decorate --graph --all
  fix = !git reset --soft HEAD~0 && git commit --amend
[user]
  name = nicochatzi
  email = nico@htz.dev
[init]
  defaultBranch = main
[core]
  editor = vim
  pager = ~/.scripts/delta-colorized --line-numbers
  excludesfile = ~/.gitignore_global
[interactive]
  diffFilter = ~/.scripts/delta-colorized --color-only --line-numbers
[fetch]
  prune = true
