# vim:ft=systemd
[Unit]
Description=RSS CLI Tool Service
After=network.target

[Service]
Type=simple
ExecStart=~/.xsys/target/release/xsys feeds launch
Restart=on-failure

[Install]
WantedBy=multi-user.target

